:root{
    --primary-50: #F9F5FF;
    --primary-200: #E9D7FE;
    --primary-300: #D6BBFB;
    --primary-500: #9E77ED;
    --primary-600: #7F56D9;
    --primary-700: #6941C6;
    --cta-heading: #101828;
    --cta-paragraph: #475467;
    --input-border: #D0D5DD;
    --email-capture-text: #667085;
    --email-capture-hint: #475467;
    --Shadow-xs-x0y1blur2: #1018280D;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Inter;
}

body{
    box-sizing: border-box;
}